html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

b {
    font-weight: bold;
    white-space: nowrap;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1;
}

ol,ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none
}

mark {
    background-color: transparent;
    color: inherit
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input[type="text"],input[type="email"],select,textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    display: flex;
    line-height: 1.0;
    min-height: var(--viewport-height);
    min-width: 320px;
    overflow-x: hidden;
    word-wrap: break-word;
}

html { 
    background: linear-gradient(0deg, #c7d2e4 0%, #767c96 100%);
    background-color: #c7d2e4;
}

body.is-loading:after {
    opacity: 1;
    visibility: visible;
}

@media (prefers-color-scheme: dark) {
    html {
        background: linear-gradient(0deg, #1a1e26c9 0%, #161a23 100%);
        background-color: #191e25;
    }
}

:root {
    --background-height: 100vh;
    --site-language-alignment: left;
    --site-language-direction: ltr;
    --site-language-flex-alignment: flex-start;
    --site-language-indent-left: 1;
    --site-language-indent-right: 0;
    --viewport-height: 100vh;
}

html {
    font-size: 18pt;
}

u {
    text-decoration: underline;
}

strong {
    color: inherit;
    font-weight: bolder;
}

em {
    font-style: italic;
}

code {
    background-color: rgba(144,144,144,0.25);
    border-radius: 0.25em;
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-size: 0.9em;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0 0.25em;
    padding: 0.25em 0.5em;
    text-indent: 0;
}

mark {
    background-color: rgba(144,144,144,0.25);
}

spoiler-text {
    -webkit-text-stroke: 0;
    background-color: rgba(32,32,32,0.75);
    text-shadow: none;
    text-stroke: 0;
    color: transparent;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}

spoiler-text.active {
    color: #FFFFFF;
    cursor: text;
}

s {
    text-decoration: line-through;
}

sub {
    font-size: smaller;
    vertical-align: sub;
}

sup {
    font-size: smaller;
    vertical-align: super;
}

a {
    color: inherit;
    text-decoration: underline;
    transition: color 0.25s ease;
}
#wrapper {
    -webkit-overflow-scrolling: touch;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: var(--viewport-height);
    overflow: hidden;
    position: relative;
    z-index: 3;
}
#wrapper, #container-switch {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                              
}

.fade {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0;
    animation: fadeOn 5s ease-in-out  2s forwards;
}
.fog {
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-image:url('../assets/img/fog.png');
    background-size: 812px, auto, cover;
    background-position: bottom, 0% 0%, center;
    background-repeat: repeat-x;
    scale: 4 1;
    filter: blur(3px);
    animation: moveLeftRight 30s ease-in-out infinite;
    transition: all 5s ease-in-out;
}
@keyframes moveLeftRight {
  0%, 100% {
    opacity: 1;
    transform: translateX(5%);
  }
  50% {
    opacity: 1;
    transform: translateX(-5%);
  }
  20% {
    opacity: 0.7;
  }
}
#bg-full-night {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition: all 5s ease-in-out;
}
.fg-night {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #171c24e3 0%, rgb(27 31 40 / 93%) 80%, #000000b5 100%);
}
.bg-night {
    opacity: 0;
    background: linear-gradient(180deg, #171c24e3 0%, rgb(27 31 40 / 93%) 80%, #000000b5 100%);
    position: fixed;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background: url("../assets/img/stars.png");
    mask-image: linear-gradient(to top, transparent 50%, black 100%);
    z-index: 2;
}
.bg-stars{
    position: fixed;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background: black;
    background-size: cover;
    z-index: 2;
    mask-image: linear-gradient(to top, transparent 50%, black 100%);
}
/*@keyframes animateBg{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
}*/
.bg-stars span{
    position: absolute;
    top:50%;
    left:50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
    animation: animate 3s linear infinite;
}
.bg-stars span::before{
    content:'';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
}
@keyframes animate
{
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}
.bg-stars span:nth-child(1){
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
}
.bg-stars span:nth-child(2){
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}
.bg-stars span:nth-child(3){
    top: 80;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
.bg-stars span:nth-child(4){
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
.bg-stars span:nth-child(5){
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
.bg-stars span:nth-child(6){
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}
.bg-stars span:nth-child(7){
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}
.bg-stars span:nth-child(8){
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}
.bg-stars span:nth-child(9){
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}
.bg-stars span:nth-child(9){
    top: 0px;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.75s;
}
.bg-day {
    filter: blur(10px);
    opacity: 0;
    z-index: 2;
    position: fixed;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-image: 
        url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cfilter%20id%3D%22noise%22%3E%20%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%20%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220.26953125%200%200%200%200%200%200.203125%200%200%200%200%200%200.27734375%200%200%200%200%200%200.4375%200%22%20%2F%3E%20%3C%2Ffilter%3E%20%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E'), 
        linear-gradient(to top, rgba(206,223,242,0.11), rgba(206,223,242,0.11)), 
        url('../assets/img/bg.jpg?v=b9dc5d1b');
    background-size: 512px, auto, cover;
    background-position: center, 0% 0%, center;
    background-repeat: repeat, repeat, no-repeat;
    animation: fadeBlur 1s ease-in-out 0s forwards;
    transition: all 0.3s ease-in-out;
}
@keyframes fadeBlur {
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}
]

body.is-instant:after {
    display: none !important;
    transition: none !important;
}

.image {
    display: block;
    line-height: 0;
    max-width: 100%;
    position: relative;
}

.image .frame {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    vertical-align: top;
    width: 100%;
    filter: drop-shadow(2px 2px 3px rgb(0 0 0 / 0.8));
}

.image .frame img {
    border-radius: 50% !important;
    max-width: 100%;
    vertical-align: top;
    width: inherit;
}

.image.full .frame {
    display: block;
}

.image.full:first-child .frame {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.image.full:last-child .frame {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.image01 {
    width: 4.625rem !important;
    transition: none;
}

.image01 img {
    transition: none;
}

h1, h2, h3, p {
    direction: var(--site-language-direction);
    position: relative;
}

h1 span.p, h2 span.p, h3 span.p, p span.p {
    display: block;
    position: relative;
}

h1 span[style], h2 span[style], h3 span[style], p span[style], h1 strong, h2 strong, h3 strong, p strong, h1 a, h2 a, h3 a, p a, h1 code, h2 code, h3 code, p code, h1 mark, h2 mark, h3 mark, p mark, h1 spoiler-text, h2 spoiler-text, h3 spoiler-text, p spoiler-text {
    -webkit-text-fill-color: currentcolor;
}

.text02, .text03 {
    color: #dbe0e5;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: -0.075rem;
    width: 100%;
    font-size: 2.3em;
    line-height: 1.125;
    font-weight: 400;
}
.text03 {
    line-height: 1;
    font-weight: 200;
    font-size: 2em;
    padding-left: 0.1rem;
}

.text02 a {
    text-decoration: underline;
}

.text02 a:hover {
    text-decoration: none;
}

.text02 span.p:nth-child(n + 2) {
    margin-top: 1rem;
}

.text01 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    line-height: 1.75;
    font-weight: 300;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text01:after {
    content: '...';
}

.text01 a {
    text-decoration: underline;
}

.text01 a:hover {
    text-decoration: none;
}

.text01 span.p:nth-child(n + 2) {
    margin-top: 1rem;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--flex-alignment);
    letter-spacing: 0;
    padding: 0;
}

.icons li {
    position: relative;
    z-index: 1;
}

.icons li a {
    align-items: center;
    display: flex;
    justify-content: center;
}

.icons li a i {
    display: block;
    position: relative;
}

.icons li a + i {
    display: block;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.icons li a .label {
    display: none;
}

.icons01 {
    font-size: 1.25em;
    gap: 1rem;
}

.icons01:not(:first-child) {
    margin-top: 2.5rem !important;
}

.icons01:not(:last-child) {
    margin-bottom: 2.5rem !important;
}

.icons01 li a {
    border-radius: 100%;
    height: 2em;
    width: 2em;
    transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

.icons01 a {
    background-color: rgba(24, 26, 27, 0.6);
}

.icons01 a i {
    fill: #dbe0e5;
}

.icons01 li a + i {
    transition: transform 0.25s ease, fill 0.25s ease, stroke 0.25s ease;
}

.icons01 li a:hover {
    transform: scale(1.1125);
}

.icons01 li a:hover + i {
    transform: scale(1.1125);
}

.buttons {
    cursor: default;
    display: flex;
    justify-content: var(--flex-alignment);
    letter-spacing: 0;
    padding: 0;
}

.buttons li {
    max-width: 100%;
}

.buttons li a {
    align-items: center;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}

#buttons01 {
    gap: 1.375rem;
    flex-direction: column;
    flex-wrap: nowrap;
}

#buttons01 li a {
    display: inline-flex;
    width: 100vw;
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 1.75rem;
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 300;
    border-radius: 2.5rem;
    flex-direction: row-reverse;
    justify-content: flex-end;
    transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#buttons01 li a i {
    display: block;
    fill: #dbe0e5;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    min-width: 16px;
    width: 1.125em;
    margin-left: 0.5em;
    margin-right: calc(-0.125em + 0rem);
    transition: fill 0.25s ease;
}

#buttons01 li a .label {
    direction: var(--site-language-direction);
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
    width: 100%;
}

#buttons01 .button, .icons01 .icon {
    background: linear-gradient(145deg, #0404041f, transparent);
    box-shadow: 3px 3px 9px rgb(0 0 0/0.8), -2px -2px 9px #7877777d;
    font-weight: 400;
}
.icons01 li a {
    box-shadow: 3px 3px 6px rgb(0 0 0/0.8), -2px -2px 4px #7877777d;
}

#buttons01 li a:hover {
    transition: all 0.25s ease;
    transform: scale(1.0425);
}

.container {
    position: relative;
}

.container > .wrapper {
    vertical-align: top;
    position: relative;
    max-width: 100%;
    border-radius: inherit;
}

.container > .wrapper > .inner {
    vertical-align: top;
    position: relative;
    max-width: 100%;
    border-radius: inherit;
    text-align: var(--alignment);
}

#container01 {
    --alignment: left;
    --flex-alignment: flex-start;
    --indent-left: 1;
    --indent-right: 0;
    padding: 20px;
}

@keyframes fadeBackdrop {
    100% {
        filter: blur(0px);
        -webkit-backdrop-filter: blur(0.775rem);
        backdrop-filter: blur(0.775rem);
        transform: scale(1);
        opacity: 1;
    }
}

.circle.n00 i {
    animation: b 2s infinite linear;
}

@keyframes b {
    20% {
        color: #dbe0e5;
    }
    70% {
        color: white;
    }
}

.icon.n00:before {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-shadow: 2px 2px 16px #00b0ff, -2px -2px 16px #f800ff !important;
    filter: drop-shadow(0px 0px 2px black);

    animation: rotate 5s infinite linear;
}
@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    0% {
        transform: rotateZ(360deg);
    }
}

#container01 > .wrapper > .inner {
    --gutters: calc(var(--padding-horizontal) * 2);
    --padding-horizontal: 4rem;
    --padding-vertical: 4rem;
    --spacing: 1.5rem;
    padding: var(--padding-vertical) var(--padding-horizontal);
}

#container01.default > .wrapper > .inner > * {
    margin-bottom: var(--spacing);
    margin-top: var(--spacing);
}

#container01.default > .wrapper > .inner > *:first-child {
    margin-top: 0 !important;
}

#container01.default > .wrapper > .inner > *:last-child {
    margin-bottom: 0 !important;
}

#container01.columns > .wrapper > .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#container01.columns > .wrapper > .inner > * {
    flex-grow: 0;
    max-width: 100%;
    text-align: var(--alignment);
    padding: 0 0 0 var(--gutters);
}

#container01.columns > .wrapper > .inner > * > * {
    margin-bottom: var(--spacing);
    margin-top: var(--spacing);
}

.title {
    margin-top: 0 !important;
}

#container01.columns > .wrapper > .inner > * > *:last-child {
    margin-bottom: 0 !important;
}

#container01.columns > .wrapper > .inner > *:first-child {
    margin-left: calc(var(--gutters) * -1);
}

#container01.columns > .wrapper > .inner > *:before {
    content: '';
    display: block;
    margin-left: calc((var(--gutters) * -0.5) - 0.5px);
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
}

#container01.columns > .wrapper > .inner > *:first-child:before {
    display: none;
}

#container01.default > .wrapper > .inner > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    max-width: none !important;
    width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
}

#container01.default > .wrapper > .inner > .full:first-child {
    margin-top: calc(var(--padding-vertical) * -1) !important;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

#container01.default > .wrapper > .inner > .full:last-child {
    margin-bottom: calc(var(--padding-vertical) * -1) !important;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

#container01.columns > .wrapper > .inner > div > .full {
    margin-left: calc((var(--gutters) * -0.5) + 0.5px);
    max-width: none !important;
    width: calc(100% + var(--gutters) + 0.4725px - 1px);
}

#container01.columns > .wrapper > .inner > div:first-child > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px - 0.5px);
}

#container01.columns > .wrapper > .inner > div:last-child > .full {
    width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px - 0.5px);
}

#container01.columns > .wrapper > .inner > div > .full:first-child {
    margin-top: calc(var(--padding-vertical) * -1) !important;
}

#container01.columns > .wrapper > .inner > div > .full:last-child {
    margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

#container01.columns > .wrapper > .inner > .full {
    align-self: stretch;
}

#container01.columns > .wrapper > .inner > .full:first-child {
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
}

#container01.columns > .wrapper > .inner > .full:last-child {
    border-bottom-right-radius: inherit;
    border-top-right-radius: inherit;
}

#container01.columns > .wrapper > .inner > .full > .full:first-child:last-child {
    border-radius: inherit;
    height: calc(100% + (var(--padding-vertical) * 2));
}

#container01.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
    border-radius: inherit;
    height: 100%;
    position: absolute;
    width: 100%;
}

#container01 > .wrapper > .inner > :nth-child(1) {
    width: calc(55% + (var(--gutters) / 2));
}

#container01 > .wrapper > .inner > :nth-child(2) {
    width: calc(45% + (var(--gutters) / 2));
}

#right-block {
    max-width: 265px !important;
    padding: 0 0 0 20px !important;
}


.day{
    color: #c6c6c6;
    fill: #c6c6c6;
    text-shadow: 1px 1px black;
}
.day b {
    color:#eee;
    text-shadow: 2px 2px black;
}
.day .day-container {
    background: rgb(52 59 71 / 64%);
    box-shadow: 3px 3px 14px rgb(0 0 0/0.8), -2px -2px 14px rgb(256 256 256/0.8);
}
.day li a:hover {
    background-color: rgb(24 26 27 / 37%) !important;
}
.day .icons li a:hover {
    color:#FFF !important;
    box-shadow: 3px 3px 8px rgb(0 0 0/0.8), -2px -2px 8px #7877777d !important;
}
.day .buttons li a:hover {
    color:#FFF !important;
    box-shadow: 3px 3px 14px rgb(0 0 0/0.8), -2px -2px 14px #7877777d !important;
}
.day #bg-full-night {
    opacity: 0;
}
.switch.theme.day:active, #switch-theme:active {
    transition: all 0.3s ease-in-out;
    background: #666c7a;
    box-shadow: inset 4px 4px 8px #292b31, inset -4px -4px 8px #a3adc3;
    color: #f0f8ff85;
    
}

@keyframes fadeOff {
    100% {
        opacity: 0;
    }
}

@keyframes fadeOn {
    100% {
        opacity: 1;
    }
}
@keyframes toDay {
    0% {
        backdrop-filter: blur(7px);
        background: #171c2540;
        box-shadow: 3px 3px 14px rgb(0 0 0), -2px -2px 14px rgb(256 256 256/0.1);
    }
    50% {
        opacity: 0.2;
        background: #171c2540;
        filter: blur(5px);
    }
    100% {
        filter: blur(0px);
        opacity: 1;
        backdrop-filter: blur(7px);
        box-shadow: 3px 3px 14px rgb(0 0 0/0.8), -2px -2px 14px rgb(256 256 256/0.8);
        background: rgb(52 59 71 / 64%);
    }
}
@keyframes toNight {
    0% {
        backdrop-filter: blur(7px);
        background: rgb(33 39 49 / 50%);
        box-shadow: 3px 3px 14px rgb(0 0 0/0.8), -2px -2px 14px rgb(256 256 256/0.8);
    }
    50% {
        opacity: 0.2;
        background: #171c2540;
        filter: blur(5px);
    }
    51% {
        background: linear-gradient(180deg, #12161d7d 0%, rgb(33 39 49 / 32%) 80%, #171c2540 100%);
    }
    100% {
        filter: blur(0px);
        opacity: 1;
        backdrop-filter: blur(7px);
        box-shadow: 3px 3px 14px rgb(0 0 0), -2px -2px 14px rgb(256 256 256/0.1);
        background: linear-gradient(180deg, #12161d7d 0%, rgb(33 39 49 / 32%) 80%, #171c2540 100%);
    }
}



.night{
    color:#dbe0e5a8;
    fill: #dbe0e5a8;
    text-shadow: 1px 1px black;
}
.night b {
    color:#eee;
}
.night .night-container {
    background: linear-gradient(180deg, #12161d7d 0%, rgb(33 39 49 / 32%) 80%, #171c2540 100%);
    box-shadow: 3px 3px 14px rgb(0 0 0), -2px -2px 14px rgb(256 256 256/0.1);
}
.night .buttons li a {
    box-shadow: 3px 3px 9px rgb(0 0 0/0.5), -2px -2px 9px rgb(0 0 0 / 10%) !important;
    background: linear-gradient(145deg, #0404042e, transparent) !important;
}
.night .buttons li a:hover {
    color:#FFF !important;
    box-shadow: 3px 3px 14px rgb(0 0 0), -2px -2px 8px rgb(256 256 256 / 20%) !important;
}
.night .icons li a {
    box-shadow: 3px 3px 6px rgb(0 0 0/0.5), -2px -2px 6px rgb(0 0 0 / 10%) !important;
    background: linear-gradient(145deg, #0404042e, transparent) !important;
}
.night .icons li a:hover {
    color:#FFF !important;
    box-shadow: 3px 3px 8px rgb(0 0 0), -2px -2px 3px rgb(256 256 256 / 20%) !important;
}
.night .bg-night {
    opacity: 0.9 !important;
}
.switch.theme.night {
    background: linear-gradient(145deg, #141720, #181c25);
    box-shadow: 5px 5px 10px #090a0e, -2px -2px 4px #232a38;
    color: #6a84a1;
    
}
.switch.theme.night:hover {
    box-shadow: 2px 2px 2px #090a0e, -2px -2px 2px #232a38;
}
.switch.theme.night:active {
    transition: all 0.3s ease-in-out;
    background: #171b23;
    box-shadow: inset 4px 4px 8px #090b0e,
        inset -4px -4px 8px #252b38;
    color: #6a84a17d;
    
}

#switch-lang i {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    text-decoration: none;
    pointer-events: none;
    text-shadow: 1px 1px #000000;
    font-size: 1em;
}
.switch {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    animation: fadeOn 2s ease-in-out  0s forwards;
}


#container-switch {
    position: fixed;
    z-index: 10;
    display: flex;
    top: 0;
    right: 0;
    padding: 22px;
    width: 100%;
    transition: all 1s ease-in-out;
    justify-content: flex-end;
}

#container-switch.fill {
    background: #5c65716e;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px black;
}

.night #container-switch.fill {
    background: #1b1f28b5;
}

#checkbox {
  display: none;
}

.none {
  display: none !important;
}

.switch {
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150px;
    background: linear-gradient(145deg, #b3cce3, #42464f);
    box-shadow: 4px 4px 7px #42464f, -4px -4px 7px #ced7ec;
}
.switch:hover {
    scale: 0.98;
    box-shadow: 2px 2px 3px #42464f, -2px -2px 3px #ced7ec;
}
.switch i {
  font-size: 1.2em;
}
#checkbox:checked + #switch-theme {
    background: #7c88a5;
    box-shadow: inset 4px 4px 7px #293759, inset -4px -4px 7px #8a92a5;
    filter: drop-shadow(3px 4px 65px white);
}
#checkbox:checked + #switch-theme i {
  color: rgb(62 73 87);
  filter: drop-shadow(0px 0px 5px rgb(151, 243, 255));
}
#checkbox:checked + #switch-theme i:before {
  content: "\f495";
}

#switch-lang {
    margin-right: 15px;
    text-transform: uppercase;
    color: white;
}
#switch-theme {
    color: white;
}
#switch-back {
    position: fixed;
    left: 0;
    margin-left: 22px;
    color: white;
}

.blockquote-wrapper {
   display: flex;
   margin-top: 7px 
}
.blockquote {
    position: relative;
    align-self: center;
    max-width: 412px;
}

.blockquote h1 {
    osition: relative;
    font-weight: normal;
    line-height: 1.3;
    margin: 0;
    border-top: solid 2px;
    border-left: solid 2px;
    border-right: solid 2px;
    border-radius: 20px;
    padding: 25px;
    border-color: #9ca1a7;
}

/* Blockquote right double quotes */
.blockquote h1:after {
    content: "";
    position: absolute;
    border: 2px solid #9ca0a8;
    border-radius: 0 50px 0 0;
    width: 60px;
    height: 37px;
    bottom: -36px;
    left: 48px;
    border-bottom: none;
    border-left: none;
    border-color: #9ca1a7;
    z-index: 3;
}

.blockquote h1:before {
    content: "";
    position: absolute;
    width: 57px;
    height: 20px;
    border-bottom-left-radius: 20px;
    border-bottom: solid 2px;
    border-left: solid 2px;
    bottom: -1px;
    left: -2px;
    border-color: #9ca1a7;
    z-index: 2;
}
.blockquote h4 {
    position: relative;
    color: #ffffff;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding-top: 7px;
    z-index: 1;
    margin-left: 133px;
}

 
.blockquote h4:first-letter {
  margin-left:-12px;
}

.row-horizon {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.row-horizon::-webkit-scrollbar {
    display: none;
}
.col {
    float: none;
    display: inline-block;
    white-space: normal;
    vertical-align: top;

    padding: 2rem;
    width: 60%;
}
.card {
    display: inline-block;
    filter: blur(7px);
    transform: scale(0.5);
    opacity: 0.0;
    border-style: solid;
    border-radius: 2rem;
    height: 500px;
    transition: all 0.3s ease-in-out;
    animation: fadeBackdrop 1.5s ease-in-out 1s forwards;

    --padding-horizontal: 3rem;
    --padding-vertical: 3rem;
    padding: var(--padding-vertical) var(--padding-horizontal);
}
a.card {
    text-decoration: none;
}
.day .day-container:hover {
    scale: 0.995;
    background: rgb(52 59 71 / 74%);
    box-shadow: 3px 3px 7px rgb(0 0 0/0.8), -2px -2px 7px rgb(256 256 256/0.8);
}
.night .night-container:hover {
    scale: 0.99;
    background: linear-gradient(180deg, #12161d7d 0%, rgb(33 39 49 / 42%) 80%, #171c2540 100%);
    box-shadow: 3px 3px 7px rgb(0 0 0), -2px -2px 7px rgb(256 256 256/0.1);
}
.empty {
    width: 24%;
    margin: 0;
    min-width: 0;
    opacity: 0!important;
}
.left-block {
    width: 100%!important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-block.card {
    cursor: pointer;
}

.full.bg {
    position: fixed;
    background: #ffffff40;
    z-index: 10;
    backdrop-filter: blur(0.775rem);
    opacity: 0.0;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
}
.night .full.bg {
    background: #00000040;
}

.full {
    position: absolute;
    display: inline-block;
    z-index: 10;
    opacity: 0.0;
    width: 100%;
    transition: all 1s ease-in-out;
}

.full .content {
    transform: scale(0.5);
    width: 100%;
    transition: all 1s ease-in-out;
    color: black;
    text-shadow: 0 0 black;

    --padding-horizontal: 3rem;
    --padding-vertical: 3rem;
    padding: var(--padding-vertical) var(--padding-horizontal);
    padding-top: 102px!important;
}
.night .full .content {
    color: white;
    text-shadow: 1 1 black;
}

@media (max-width: 1920px) {
    html {
        font-size: 15pt;
    }
}

@media (max-width: 1680px) {
    html {
        font-size: 14pt;
    }
    .col {
        width: 60%;
    }
    .empty {
        width: 22%;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 13pt;
    }
    .col {
        width: 68%;
    }
    .empty {
        width: 15%;
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 13pt;
    }
    .col {
        width: 70%;
    }
    .empty {
        width: 15%;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 13pt;
    }
    .col {
        width: 75%;
    }
    .empty {
        width: 13%;
    }
}

@media (max-width: 980px) {
    html {
        font-size: 12pt;
    }
    #right-block {
        max-width: 190px !important;
    }
}
@media (max-width: 805px) {
    .text02 {
        font-size: 2.3em;
    }
    .text03 {
        font-size: 1.6em;
    }
}
@media (max-width: 770px) {
    .text02 {
        font-size: 2em;
    }
    .text03 {
        font-size: 1.5em;
    }
}
@media (max-width: 736px) {
    html {
        font-size: 12pt;
    }
    .col {
        padding: 1rem;
    }
    .card {
        height: 560px;
    }
    .image01 {
        width: 4.625rem !important;
    }

    .text02, .text03 {
        letter-spacing: -0.065625rem;
        width: auto;
        font-size: 2.25em;
        line-height: 1.125;
    }

    .text03 {
        line-height: 1;
        font-size: 1.75em;
    }

    .text01 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.75;
    }

    .icons01 {
        font-size: 1.5em;
        gap: 1rem;
    }

    .icons01:not(:first-child) {
        margin-top: 1.875rem !important;
    }

    .icons01:not(:last-child) {
        margin-bottom: 1.875rem !important;
    }

    #buttons01 {
        gap: 1.375rem;
    }

    #buttons01 li a {
        letter-spacing: 0rem;
        font-size: 1em;
    }

    #buttons01 li a i {
        width: 1.125em;
    }

    #container01 {
        --alignment: center;
        --flex-alignment: center;
        --indent-left: 1;
        --indent-right: 1;
    }

    #container01 > .wrapper > .inner {
        --gutters: 5rem;
        --padding-horizontal: 2rem;
        --padding-vertical: 3.5rem;
        --spacing: 1.5rem;
    }

    #container01.columns > .wrapper > .inner {
        flex-direction: column !important;
        flex-wrap: nowrap !important;
    }

    #container01.columns > .wrapper > .inner > span {
        height: 0;
        margin-top: calc(var(--gutters) * -1);
        pointer-events: none;
        visibility: hidden;
    }

    #container01.columns > .wrapper > .inner > span:first-child + div:before {
        display: none !important;
    }

    #container01.columns > .wrapper > .inner > *:first-child {
        margin-left: 0 !important;
        padding-top: 0 !important;
    }

    #container01.columns > .wrapper > .inner > * {
        padding: calc(var(--gutters) * 0.5) 0 !important;
    }

    #container01.columns > .wrapper > .inner > *:before {
        border-top: solid 1px rgba(69,69,69,0.122) !important;
        height: 0 !important;
        margin-left: 0 !important;
        top: auto !important;
        margin-top: calc((var(--gutters) * -0.5) - 0.5px) !important;
        left: 0 !important;
        width: 100% !important;
    }

    #container01.columns > .wrapper > .inner > *:last-child {
        padding-bottom: 0 !important;
    }

    #container01.columns > .wrapper > .inner > *:first-child:before {
        display: none !important;
    }

    #container01.columns > .wrapper > .inner > *:last-child:before {
        display: block !important;
    }

    #container01.columns > .wrapper > .inner > div > .full {
        margin-left: calc(var(--padding-horizontal) * -1);
        width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
    }

    #container01.columns > .wrapper > .inner > div:first-of-type > .full {
        margin-left: calc(var(--padding-horizontal) * -1);
        width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
    }

    #container01.columns > .wrapper > .inner > div:last-of-type > .full {
        margin-left: calc(var(--padding-horizontal) * -1);
        width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
    }

    #container01.columns > .wrapper > .inner > div > .full:first-child {
        margin-top: calc((var(--gutters) * -0.5) + 0.5px) !important;
    }

    #container01.columns > .wrapper > .inner > div > .full:last-child {
        margin-bottom: calc((var(--gutters) * -0.5) + 0.5px) !important;
    }

    #container01.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
        margin-top: calc(var(--padding-vertical) * -1) !important;
    }

    #container01.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
        margin-bottom: calc(var(--padding-vertical) * -1) !important;
    }

    #container01.columns > .wrapper > .inner > div:first-of-type, #container01.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    #container01.columns > .wrapper > .inner > div:last-of-type, #container01.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }

    #container01.columns > .wrapper > .inner > div:first-of-type, #container01.columns > .wrapper > .inner > div:first-of-type > .full:last-child {
        border-bottom-left-radius: 0 !important;
    }

    #container01.columns > .wrapper > .inner > div:last-of-type, #container01.columns > .wrapper > .inner > div:last-of-type > .full:first-child {
        border-top-right-radius: 0 !important;
    }

    #container01.columns > .wrapper > .inner > .full > .full:first-child:last-child {
        height: auto;
    }

    #container01.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
        height: auto;
        position: relative;
        width: auto;
    }

    #container01 > .wrapper > .inner > :nth-child(1) {
        --alignment: center;
        --flex-alignment: center;
        --indent-left: 1;
        --indent-right: 1;
        min-height: 100% !important;
        width: 100% !important;
    }

    #container01 > .wrapper > .inner > :nth-child(2) {
        --alignment: center;
        --flex-alignment: center;
        --indent-left: 1;
        --indent-right: 1;
        min-height: 100% !important;
        width: 100% !important;
    }
}
@media (max-width: 705px) {
    .col {
        padding: 1rem;
    }
    .text01 {
        -webkit-line-clamp: 9;
    }
}
@media (max-width: 570px) {

    .empty {
        width: 5%;
    }
    .text02 {
        font-size: 2.1em;
    }
    .text03 {
        font-size: 1.75em;
    }
    .icons {
        justify-content: center;
    }
}
@media (max-width: 530px) {
    .col {
        width: 84%;
    }
    .empty {
        width: 5%;
    }
    .text03 {
        font-size: 1.35em;
    }
    .text02 {
        font-size: 1.6em;
    }
}

@media (max-width: 490px) {
    .card {
        --padding-horizontal: 2.5rem;
        --padding-vertical: 2.5rem;
        padding: var(--padding-vertical) var(--padding-horizontal);
    }
    #buttons01 li a {
        max-width: 100%;
        width: 100%;
    }
    .col {
        width: 90%;
        padding: 0.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .empty {
        width: 3%;
        padding: 0;
    }

    #container01 > .wrapper > .inner {
        --spacing: 1.3125rem;
    }
    .full .content {
        --padding-horizontal: 2rem;
        padding: var(--padding-vertical) var(--padding-horizontal);
    }
}


@media (max-width: 390px) {
    .card {
        --padding-horizontal: 2rem;
        --padding-vertical: 2rem;
        padding: var(--padding-vertical) var(--padding-horizontal);
    }
    .empty {
        width: 2%;
        padding: 0;
    }
    .image01 {
        width: 3.625rem !important;
    }
    .text03 {
        font-size: 1.15em;
    }
    .text02 {
        font-size: 1.4em;
    }
    .text01 {
        font-size: 1em;
    }

    .icons01 {
        gap: 0.75rem;
    }

    #buttons01 {
        gap: 1.03125rem;
    }

    .full .content {
        --padding-horizontal: 1rem;
        padding: var(--padding-vertical) var(--padding-horizontal);
    }
}
